legacy-peer-deps=true
@lerna-demo:registry=https://verdaccio-dock-prod-verdaccion-sp149b.mo1.mogenius.io/
//verdaccio-dock-prod-verdaccion-sp149b.mo1.mogenius.io/:_authToken="+wshV+3PRy8mqsjrRtV6DA=="
