legacy-peer-deps=true
@lerna-demo:registry=https://verdaccio-dock-prod-verdaccion-sp149b.mo1.mogenius.io/
//verdaccio-dock-prod-verdaccion-sp149b.mo1.mogenius.io/:_authToken="Srn9p1KlUN12xSr4MaChQw=="
